################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Git Repo/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/html
/images
/scripts
/style
/node_modules
/.vscode
*.js
/favicon.ico
/package.json
/yarn.lock
/.vs/Git Repo/config
/package-lock.json
